# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# editor
.idea/
*.iws
*.iml
*.ipr

# terraform
.terraform/

# jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
notebook/.cache/
notebook/.local/
notebook/.jupyter/
notebook/.npm/
profile_default/
ipython_config.py
.virtual_documents/

# mise
mise.local.toml
